/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 90 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
CYAN COLOR: #086f7f
BEIGE COLOR: #7f5b08
*/

body {
  background-color: #e6f2ef46;
}

.container {
  width: 96rem;
  margin: 0 auto;
}

/* *************** */
/* Header/Nav Section */
/* *************** */

.header {
  background-color: #cee5de;
  margin-bottom: 9rem;
}

.header-nav {
  padding: 2rem;
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-nav-list--item {
  font-size: 2rem;
  font-weight: 700;
  color: #2f343a;
  transition: all 0.3s ease;
}

.header-nav-list--item:hover {
  color: #85898c;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

/* *************** */
/* Hero Section */
/* *************** */

.section-hero {
  margin-bottom: 9rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.hero-bold {
  font-weight: 800;
  color: #087f5b;
}

.hero-description {
  font-size: 3rem;
}

.hero-img {
  width: 65%;
  /* border-radius: 50px; */
  /* height: ; */
}

.img {
  border-radius: 100%;
  border: 5px solid #02261b;
}

.img:hover {
  border: 5px solid #84bfad;
  cursor: pointer;
  transition: all 0.3s;
}

.heart-icon {
  /* font-size: 32px; */
  color: #e60000;
}

/* *************** */
/* Featured Section */
/* *************** */
.section-featured {
  margin-bottom: 9rem;
  background-color: #054c37;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  padding: 4.8rem 0;
  width: 128rem;
}

.heading-featured {
  font-size: 4.4rem;
  color: #e6f2ef;
}

.featured-work {
  display: flex;
  gap: 6.4rem;
}

.featured-work-box {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  /* align-items: center; */
  /* gap: 1.6rem; */
}

.featured-work-box:hover {
  cursor: pointer;

  transform: scale(1.1);
}

.featured-work-box-img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.featured-work-box-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #b29d6b;
  padding: 2.4rem 1.6rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.featured-work-box-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #e6f2ef;
}

.featured-work-box-text {
  font-size: 2rem;
  color: #cee5de;
}

/* *************** */
/* CTA Section */
/* *************** */
.section-cta {
  margin-bottom: 9rem;
}

.cta {
  width: 105rem;
}

.cta-text-box {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;

  background-color: #217d8c;
  padding: 4.8rem;
  border-radius: 9px;
}

.heading-cta {
  font-size: 4.4rem;
  color: #e6f1f2;
}

.cta-heading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.cta-form {
  font-size: 2.4rem;
  color: #e6f1f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
}

.message-box {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* width: 100%; */
}
.message-input {
  width: 100%;
}

.cta-form-input {
  border-radius: 9px;
  border: 0;
  padding: 0.8rem;
}

.cta-form-input::placeholder {
  color: hsla(210, 10%, 23%, 0.548);
}

.cta-form-input:focus {
  color: #021619;
}

.cta-form-box:nth-child(1),
.cta-form-box:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cta-form-box:nth-child(2) {
  align-items: end;
}

#full-name,
#email {
  width: 80%;
}
.cta-icon {
  font-size: 4.4rem;
  color: #e6f1f2;
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #e6f1f2;
  background-color: #043840;
  transition: all 0.3s;
  cursor: pointer;
  gap: 0.8rem;
  padding: 1.6rem;
  border: 0;
  border-radius: 9px;
}

.cta-btn:hover {
  transform: scale(0.95);
}

.cta-text {
  font-style: italic;
  font-size: 1.8rem;
  color: hsla(185, 33%, 93%, 0.582);

  align-self: center;
  justify-self: center;
}

/* *************** */
/* CTA Section */
/* *************** */
.footer {
  padding: 3.2rem;
  color: #0a0c0d;
  text-align: center;
  font-size: 2rem;
}

.section-footer {
  background-color: #ebebec;
}
